@import url('https://fonts.googleapis.com/css?family=Khula&display=swap');

* {
  box-sizing: border-box;
}

body {
  color: #fff;
  font-family: 'Khula', sans-serif;
  height: 100vh;
  overflow: hidden;
  margin: 0;
  text-align: center;
}

a {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #16D9E3;
}

.start {
  font-size: 1.5rem;
  border-radius: 10px;
  padding: .8rem 5rem .5rem;
  border: 3px solid #16D9E3;
  transition-duration: 0.5s;
}

.start:hover {
  background-color: #fff;
}

h1 {
  font-size: 4rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.5rem;
}

.screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  transition: margin 0.5s ease-out;
  background: linear-gradient(90deg, #29323C 0%, #485563 100%);
}

.screen.up {
  margin-top: -100vh;
}

.time-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.time-list li {
  margin: 10px;
}

.time-btn {
  background-color: transparent;
  border: 3px solid #C0C0C0;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  padding: .8rem 1.5rem .5rem;
  font-size: 1.5rem;
  border-radius: 10px;
}

.time-btn:hover {
  color: #16D9E3;
  border: 3px solid #16D9E3;
  background-color: #fff;
  transition-duration: 0.5s;
}

.hide {
  opacity: 0;
}

.primary {
  color: #16D9E3;
}

.bigger {
  font-size: 10rem;
}

.board {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 30%;
  height: 60%;
  background: linear-gradient(118.38deg, #29323C -4.6%, #485563 200.44%);
  box-shadow: -8px -8px 20px #2A333D, 10px 7px 20px #475462;
  border-radius: 30px;
}

.circle {
  background: linear-gradient(90deg, #16D9E3 0%, #30C7EC 47%, #46AEF7 100%);
  position: absolute;
  border-radius: 50%;
  cursor: pointer;
}

.leader-board {
  margin-top: 30px;
  opacity: 0;
}

.leader-board span:first-of-type {
  color: gold;
  font-weight: bold;
}
.leader-board span {
  color: silver;
  font-weight: bold;
}
.leader-board span:last-of-type {
  color: #a15823;
  font-weight: bold;
}

@media screen and (max-width: 768px) {
  .board {
    width: 50%;
    height: 50%;
  }
}

@media screen and (max-width: 600px) {
  .board {
    width: 70%;
    height: 50%;
  }
}

@media screen and (max-width: 425px) {
  .board {
    width: 90%;
    height: 50%;
  }
}